body {
  margin: 0;
  padding: 0;
}

/*  */

.container {
  display:flex;
  justify-content: space-evenly;
  width: 80%;
  flex-wrap: wrap;
  margin: auto;
}

.element {
background-color: pink;
margin: 1%;
}