body {
  margin: 0;
  padding: 0;
}

/*  */

.container {
  display:flex;
  justify-content: space-evenly;
  width: 80%;
  flex-wrap: wrap;
  margin: auto;
}

.element {
margin: 1%;
padding: 1%;
}

.boy {
  background-color: lightblue;
}

.girl {
  background-color: pink
}